{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if mastodon_sidekiq_container_labels_traefik_enabled %}
traefik.enable=true

{% if mastodon_sidekiq_container_labels_traefik_docker_network %}
traefik.docker.network={{ mastodon_sidekiq_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if mastodon_sidekiq_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ mastodon_sidekiq_identifier }}-slashless-redirect.redirectregex.regex=^({{ mastodon_sidekiq_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ mastodon_sidekiq_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [mastodon_sidekiq_identifier + '-slashless-redirect'] %}
{% endif %}

{% if mastodon_sidekiq_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ mastodon_sidekiq_identifier }}-strip-prefix.stripprefix.prefixes={{ mastodon_sidekiq_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [mastodon_sidekiq_identifier + '-strip-prefix'] %}
{% endif %}

{% if mastodon_sidekiq_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in mastodon_sidekiq_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ mastodon_sidekiq_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [mastodon_sidekiq_identifier + '-add-request-headers'] %}
{% endif %}

{% if mastodon_sidekiq_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in mastodon_sidekiq_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ mastodon_sidekiq_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [mastodon_sidekiq_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ mastodon_sidekiq_identifier }}.rule={{ mastodon_sidekiq_container_labels_traefik_rule }}
{% if mastodon_sidekiq_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ mastodon_sidekiq_identifier }}.priority={{ mastodon_sidekiq_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ mastodon_sidekiq_identifier }}.service={{ mastodon_sidekiq_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ mastodon_sidekiq_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ mastodon_sidekiq_identifier }}.entrypoints={{ mastodon_sidekiq_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ mastodon_sidekiq_identifier }}.tls={{ mastodon_sidekiq_container_labels_traefik_tls | to_json }}
{% if mastodon_sidekiq_container_labels_traefik_tls %}
traefik.http.routers.{{ mastodon_sidekiq_identifier }}.tls.certResolver={{ mastodon_sidekiq_container_labels_traefik_tls_certResolver }}
{% endif %}

{% endif %}

{{ mastodon_sidekiq_container_labels_additional_labels }}
